<footer class="main-footer">
    <div class="footer_wrapper">
        <div class="footer_content">
            <h5 class="white_font_color">株式会社ＤＥＰＥＮＤＡ</h5>
            <p class="white_font_color">〒573-1159</p>
            <p class="white_font_color">大阪府枚方市車塚1-1-1　輝きプラザきらら6F</p>
            <p class="white_font_color">枚方市立地域活性化支援センター</p>
            <p class="white_font_color">TEL/FAX：072-856-2212</p>
        </div>

        <!--<div class="right menu-list footer_menu_pc">
            <ul class="h-menu">
                <li><a href="#">HOME</a></li>
                <li><a href="http://dependa.co.jp">Company</a></li>
                <li><a href="http://dependa.co.jp/overview">Service</a></li>
                <li><a href="http://dependa.co.jp/inquery">Contact</a></li>
            </ul>
        </div>
        <div class="footer_menu_mobile">
            <div>
                <a class="white_font_color" href="#">HOME</a>
                <a class="white_font_color" href="http://dependa.co.jp">Company</a>
            </div>
            <div>
                <a class="white_font_color" href="http://dependa.co.jp/overview">Service</a>
                <a class="white_font_color" href="http://dependa.co.jp/inquery">Contact</a>
            </div>
        </div>-->
    </div>
    <p class="copyright_part">Copyright © DEPENDA Inc. all right reserved</p>
</footer>