{% extends "admin_site/base_site.html" %}
{% load i18n static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i>グループ一覧</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item active"><a href="#">グループ一覧</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <button id="btnAdd" type="button" class="btn btn-primary mb-3">
                        <i class="fa fa-user-plus"></i> 追加
                    </button>
                    <table id="groupTable"
                           class="table responsive table-hover table-bordered dataTable no-footer table-full-width" cellspacing="0"
                           style="width:100%">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>グループ名</th>
                            <th>グループ管理者</th>
                            <th style="width: 90px">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="group_creater" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document" style="z-index: 1050;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">グループ登録</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="create_part" class="clearfix margin-bottom-10">
                        <form id="group_reg_form" accept-charset="UTF-8" class="sky-form" action="{% url 'group.create' %}"
                              method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id" value=""/>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group fg-float ">
                                            <label class="fg-label">グループ名</label>
                                            <div class="fg-line" id="ct_name">
                                                <input id="name" name="name" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group fg-float ">
                                            <label class="fg-label">管理者メールアドレス</label>
                                            <div class="fg-line" id="ct_email">
                                                <input id="email" name="email" type="email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <footer style="float: right">
                                <button type="button" class="btn btn-success" data-dismiss="modal">キャンセル</button>
                                <button type="submit" id="info_update" class="btn btn-primary">登録</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        function DtRender_group_function(data, type, full, meta)
        {
            var html =
                '<button name="editUser" data-id="' + full.id +
                '" style="padding: 5px 10px 5px 10px;" class="btn btn-info" onclick="DtRender_bt_editGroup(' + full.id +
                ');"><i class="fa fa-edit"></i></button>&nbsp;&nbsp;&nbsp;' +
                '<button name="delUser" data-id="' + full.id +
                '" style="padding: 5px 10px 5px 10px;" class="btn btn-danger" onclick="DtRender_bt_delGroup(' + full.id +
                ');"><i class="fa fa-trash"></i></button>';

            return html;
        }

        function DtRender_bt_group(id,
                                  name,
                                  email
                                  )
        {
            if (name === undefined) name = "";
            if (email === undefined) email = "";

            var $form = $("form#group_reg_form"),
                path_action = $form.attr("action");

            $form.find('em').remove();
            $('.state-error').removeClass("state-error");
            $('.state-success').removeClass("state-success");
            $('.invalid').removeClass("invalid");
            $('.valid').removeClass("valid");

            if (id !== undefined) {
                $form.attr("action", path_action.replace("create", "update"));
                $("#group_creater").find(".modal-title").html('グループ情報変更');
                $("[name=id]").val(id);
            } else {
                $form.attr("action", path_action.replace("update", "create"));
                $("#group_creater").find(".modal-title").html('グループ登録');
                $("[name=id]").val('');
            }

            $("#name").val(name);
            $("#email").val(email);
        }

        $(document).ready(function () {

            $("#birthday").datepicker({
                format: 'yyyy-mm-dd',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });

            $('#groupTable').dataTable({
                "scrollX": true,
                processing: true,
                serverSide: true,
                pageLength: 10,
                language: {
                    "sProcessing": "処理中...",
                    "sSearch": "検索キー",
                    "sLengthMenu": "顕示 &nbsp; _MENU_ &nbsp;項",
                    "sZeroRecords": "検索結果がありません。",
                    "sInfo": "顕示 _START_ から _END_ 項結果，総て _TOTAL_ 項",
                    "sInfoEmpty": "顕示 0から 0項結果，総て 0項')",
                    "sEmptyTable": "検索結果がありません。",
                    "sLoadingRecords": "ローディング中...",
                    "paginate": {
                        "previous": "以前",
                        "next": "以後"
                    }
                },
                ajax: {
                    "url": "{% url 'group.get_list' %}",
                    "type": "POST"
                },
                columns: [
                    {name: "number", data: "number", defaultContent: "", className: "dt-center", orderable: false},
                    {name: "name", data: "name", defaultContent: "", className: "dt-center"},
                    {name: "email", data: "email", defaultContent: "", className: "dt-center", orderable: false, searchable:false},
                    {
                        name: "id",
                        data: "id",
                        defaultContent: "",
                        className: "dt-center",
                        orderable: false,
                        render: DtRender_group_function
                    }
                ],
                order: [[3, 'desc']]
            });

            DtRender_bt_editGroup = function (id) {
                var success = function (data) {
                        DtRender_bt_group(
                            data.id,
                            data.name,
                            data.email
                        );
                        $('#group_creater').modal({backdrop: 'static', keyboard: false});
                        $("#group_creater").modal('show');
                    },
                    error = function (data) {
                        new PNotify({
                            title: "資料積載エラー",
                            text: "資料積載中にエラーが発生しました。",
                            delay: 3000,
                            type: 'error'
                        });
                    };
                ajax_json(
                    "POST",
                    "{% url 'group.get_info' %}",
                    {
                         id: id
                    },
                    success,
                    error,
                    true
                );
            };

            DtRender_bt_delGroup = function (id) {
                swal({
                    title: "本当に削除するだろうか!",
                    text: "グループはデータベースから削除されます。",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "はい",
                    cancelButtonText: "いいえ",
                    closeOnConfirm: false
                }, function () {
                    var success = function (data) {
                            swal.close();
                            $('#groupTable').DataTable().ajax.reload();
                        },
                        error = function (data) {
                            swal.close();
                            new PNotify({
                                title: "削除エラー",
                                text: "削除中にエラーが発生しました。",
                                delay: 3000,
                                type: 'error'
                            });
                        };
                    ajax_json(
                        "POST",
                        "{% url 'group.delete' %}",
                        {
                             id: id
                        },
                        success,
                        error,
                        true
                    );
                });
            };

            $("#btnAdd").on("click", function () {
                DtRender_bt_group();
                $('#group_creater').modal({backdrop: 'static', keyboard: false});
                $("#group_creater").modal('show');
            });

            // Validation for login form
            $("#group_reg_form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    name: {
                        required: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'メールアドレスを入力してください。',
                        email: 'メールアドレスを正確に入力してください。'
                    },
                    name: {
                        required: 'グループ名を入力してください。'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    if ($(element).attr("name") == "email") {
                        error.insertAfter(element.parent());
                    } else if ($(element).attr("name") == "name") {
                        error.insertAfter(element.parent());
                    } else {
                        $(element).parent().parent().addClass("state-error");
                        $(error).insertAfter(element.parent().parent());
                    }
                },

                submitHandler: function (form) {
                    var action = $("form#group_reg_form").attr("action");
                    var fd = new FormData($("form#group_reg_form")[0]);
                    var success = function (data) {
                            $('#groupTable').DataTable().ajax.reload();
                            $("#group_creater").modal('hide');
                        },
                        error = function (data) {
                            new PNotify({
                                title: "エラー!",
                                text: error_msg(data),
                                delay: 3000,
                                type: 'error'
                            });
                        };
                    ajax_form(
                        "POST",
                        action,
                        fd,
                        success,
                        error
                    );
                }
            });
        });

    </script>
{% endblock %}